.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
}

.post {
    width: 45%;

}

@media screen and (max-width:1280px) {
    .post {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    .post {
        width: 100%;
    }
}